<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Scripts/plugins/fontawesome-free/css/all.min.css"/>
    <include path="~/Scripts/plugins/daterangepicker/daterangepicker.css"/>
    <include path="~/Scripts/plugins/icheck-bootstrap/icheck-bootstrap.min.css"/>
    <include path="~/Scripts/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css"/>
    <include path="~/Scripts/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"/>
    <include path="~/Scripts/plugins/select2/css/select2.min.css"/>
    <include path="~/Scripts/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"/>
    <include path="~/Scripts/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"/>
    <include path="~/Scripts/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"/>
    <include path="~/Scripts/plugins/bs-stepper/css/bs-stepper.min.css"/>
    <include path="~/Scripts/plugins/dropzone/min/dropzone.min.css"/>
    <include path="~/Scripts/dist/css/adminlte.min.css"/>
  </styleBundle>
  
</bundles>